.third-section {
    padding: 3rem 0;
}

.third-first-sub {
    h2 {
        font-size: 3rem;
        color: $heading_color;
    }
    hr {
        border: 0;
        border-bottom: 4px solid $heading_color;
        width: 10%;
        display: inline-block;
    }
}
.row {
    .card {
        box-shadow: 0 0 4px 0px rgba(71, 71, 71, 0.438);
    }
    .card-body {
        padding: 2rem;
        h3 {
            font-size: 2rem;
            color: $heading_color;
        }
        p {
            font-size: 1.2rem;
            color: $text_color;
            margin: 1.5rem 0;
        }
    }
    .col-1-2 {
        padding: 2rem 0;
    }
}